@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 267 23% 95%;
    --foreground: 267 5% 10%;
    --card: 267 23% 90%;
    --card-foreground: 267 5% 15%;
    --popover: 267 23% 95%;
    --popover-foreground: 267 95% 10%;
    --primary: 267 43.5% 43.7%;
    --primary-foreground: 0 0% 100%;
    --secondary: 267 23% 82%;
    --secondary-foreground: 0 0% 0%;
    --muted: 229 23% 85%;
    --muted-foreground: 267 5% 40%;
    --accent: 229 23% 82%;
    --accent-foreground: 267 5% 15%;
    --destructive: 0 50% 50%;
    --destructive-foreground: 267 5% 90%;
    --border: 267 23% 82%;
    --input: 267 23% 50%;
    --ring: 267 43.5% 43.7%;
    --radius: 1rem;
  }
  .dark {
    --background: 267 23% 10%;
    --foreground: 267 5% 90%;
    --card: 267 23% 10%;
    --card-foreground: 267 5% 90%;
    --popover: 267 23% 5%;
    --popover-foreground: 267 5% 90%;
    --primary: 267 43.5% 43.7%;
    --primary-foreground: 0 0% 100%;
    --secondary: 267 23% 20%;
    --secondary-foreground: 0 0% 100%;
    --muted: 229 23% 25%;
    --muted-foreground: 267 5% 65%;
    --accent: 229 23% 25%;
    --accent-foreground: 267 5% 90%;
    --destructive: 0 50% 50%;
    --destructive-foreground: 267 5% 90%;
    --border: 267 23% 50%;
    --input: 267 23% 50%;
    --ring: 267 43.5% 43.7%;
    --radius: 1rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}
